#snippet (
#	(${1:$VISUAL})$0
#snippet [
#	[${1:$VISUAL}]$0
#snippet {
#	{${1:$VISUAL}}$0
#snippet <
#	<${1:$VISUAL}>$0
#snippet $
#	$${1:$VISUAL}$$0
#snippet '
#	'${1:$VISUAL}'$0
#snippet "
#	"${1:$VISUAL}"$0
